.container__big-card {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__photo {
  width: 100%;
  height: 300px;
}

.big-card__photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-card__date {
  margin-top: 16px;
}

.big-card__date p {
  color: #555;
  font-size: 12px;
}

.big-card__title > h1 {
  font-size: 22px;
  margin-top: 16px;
}

.big-card__title a {
  color: #fff;
}

.big-card__description {
  color: #BBB;
  margin-top: 16px;
}
