<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="{{ photoCard }}" alt="Small card" />
    </div>

    <div class="small-card__info">
      <div class="small-card__date">
        <p>{{ date }}</p>
      </div>

      <div class="small-card__title">
        <h1>
          <a href="#"> {{ titleCard }}</a>
        </h1>
      </div>
    </div>

  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
