header {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.container__articles {
  margin-top: 24px;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 32px;
}

.articles__main {
  width: 55%;
}

.articles__others {
  width: 45%;
}
