<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://source.unsplash.com/random/?tech-news"
      cardTitle="Saiu a nova versão do Angular"
      cardDescription="Mussum Ipsum, cacilds vidis litro abertis.
        Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
        Viva Forevis aptent taciti sociosqu ad litora torquent.
        Aenean aliquam molestie leo, vitae iaculis nisl.
        Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
