/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
}

body {
  color: #ddd;
  font-family: 'Ubuntu';
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ddd;
}

::selection {
  background-color: #fff;
  color: #111;
}
